/* lock screen in place */
html,
body { height: 100%; margin: 0; }
body {
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  touch-action: none;
}

/* prevent selections */
html {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

/* use custom font */
@font-face {
  font-family: jetFont;
  src: url(font/tommy_soft.woff);
}
@font-face {
  font-family: forArrow;
  src: url(font/custom.woff);
}

html {
  background: #666;
}

body {
  margin: 0 auto;
  background: #345;
  display: flex;
  flex-direction: column;
  max-width: 60vh;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0.2vh 0 #000, -0.2vh 0 #000;
  background: #594e81;
}

body * {
  font-family: jetFont, system-ui;
  color: #ddd;
  font-size: 2.5vh;
  text-shadow:
    0 0.2vh #000, 0 -0.2vh #000, 0.2vh 0 #000, -0.2vh 0 #000,
    0.15vh 0.15vh #000, 0.15vh -0.15vh #000, -0.15vh 0.15vh #000, -0.15vh -0.15vh #000;
}

/* title */

#joinForm {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.5vh;
}

#joinForm > * {
  height: 8vh;
  min-width: 9vh;
  border-radius: 1.2vh;
  border: none;
  box-shadow: 0 0 0 0.2vh #000;
  outline: none;
  padding: 0;
  /* because iOS safari seems to */
  /* prevent box-shadow on input */
  box-shadow: none;
  border: 0.2vh solid #000;
  box-sizing: border-box;
}

#nickname {
  background: #444;
  padding-left: 1.5vh !important;
  font-size: min(4vh, 7vw);
}

#go {
  background: #538aaa;
  cursor: pointer;
  font-size: 7vh;
  font-family: forArrow;
}

#go:hover {
  background: #b977f7;
}

#go:disabled {
  cursor: default;
  background: #666;
  color: #aaa;
}

/* game */

body > * {
  margin-bottom: 1.5vh;
}

canvas {
  width: 100%;
  border-bottom: 0.2vh solid black;
}

#leaderboard {
  position: absolute;
  padding: 0.5vh;
  margin: 0;
}

#leaderboard tr:nth-child(1) { color: #fd4; }
#leaderboard tr:nth-child(2) { color: #abd; }
#leaderboard tr:nth-child(3) { color: #ea6; }
#leaderboard tr:nth-child(4) { color: #6bf; }

#leaderboard td {
  color: inherit;
}

#leaderboard td:first-child {
  text-align: center;
  padding-right: 0.6vh;
}

#messagesContainer {
  position: absolute;
  bottom: calc(100vh - min(60vh, 100vw));
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

#messagesContainer > * {
  margin: 0;
}

#messagesContainer > h1 {
  display: flex;
  justify-content: center;
}

#messagesContainer > h1 > * {
  height: 5vh;
}

#messagesContainer > h1 > span {
  line-height: 5vh;
  font-size: 4vh;
  width: max-content;
  padding: 0 0.7vh;
}


body > section {
  padding: 0 1.5vh;
  display: flex;
  gap: 1.5vh;
}

body > section > * {
  border-radius: 1.2vh;
  box-shadow: 0 0 0 0.2vh #000;
  background: #538aaa;
}

#statusBar > * {
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sword, #shield {
  box-shadow: none;
  background: none;
  border-radius: 0;
  fill: #00000033;
}

#shield {
  padding-right: 0.4vh;
}

#sword > path, #shield > path {
  stroke-width: 1.5px;
}

#healthBar {
  width: unset;
  flex-grow: 1;
  gap: 0.2vh;
  background: #000;
  overflow: hidden;
  flex-wrap: wrap;
}

#healthBar > div:first-child {
  width: var(--health);
  height: 100%;
  background: #c07578;
}

#healthBar > div:last-child {
  width: calc(100% - var(--health) - 0.2vh);
  height: 100%;
  background: #888;
}

#hitpoints {
  box-shadow: none;
  background: transparent;
  justify-content: left;
}

#controlsContainer {
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
}

#controlsContainer button {
  box-sizing: border-box;
  border: none;
  font-size: 5vh;
  height: calc(50% - 1.5vh / 2);
  text-transform: uppercase;
  outline: none;
}

#lButton {
  height: 100% !important;
}

.down {
  background: #b977f7;
}

#controlsContainer > #goBack {
  font-family: forArrow;
  transform: scale(-1, 1);
  width: max-content;
  height: max-content;
  padding: 1vh 2vh;
  margin: 0 auto;
}

#controlsContainer > p {
  background: transparent;
  box-shadow: none;
  margin: 5vh auto 0 auto;
}

#victory {
  position: absolute;
  box-sizing: border-box;
  padding: 3vh;
  width: 100%;
  height: min(60vh, 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#victory * {
  color: #ec1;
  font-size: 5vh;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#victory *:nth-child(1) {
  font-size: 9vh;
}

#victory *:nth-child(3) {
  font-size: 14vh;
}
